@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 300; /* Rango de pesos */
    font-style: normal;
}
  
@font-face {
    font-family: 'InterBold';
    src: url('./assets/fonts/static/Inter_28pt-ExtraBold.ttf') format('truetype');
    font-weight: 900; /* Rango de pesos */ /* Rango de pesos */
    font-style: normal;
}

:root {
    --background-color: #101010;
    --header-bg-color: rgba(234,62,84,0.8);
    --header-bg-color: rgba(39, 39, 39, 0.8);
    --text-color: white;
    --secondary-text-color: rgb(190, 190, 190);
    --highlight-color: #f5fb47;
    --hover-color: #ea3e54;
    --card-bg-color: rgb(30, 29, 28);
    --card-border-color: rgb(39, 39, 39);
    --shadow-color: rgba(0, 0, 0, 0.5);
    --title-color: rgb(151, 151, 151);
}

/* Variables para el modo claro */
.modo-claro {
    --background-color: #cacaca;
    --header-bg-color: rgba(152, 151, 151, 0.8);
    --text-color: #000000;
    --secondary-text-color: rgb(70, 70, 70);
    --highlight-color: #f5fb47;
    --hover-color: #ea3e54;
    --card-bg-color: rgb(240, 240, 240);
    --card-border-color: rgb(200, 200, 200);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --title-color: rgb(75, 75, 75);
}

html{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter','Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-size: 2vh;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0.2vw;
}

ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-size: 2vh;
    padding: 0.5vw;
    border-radius: 10px;
    transition: all 0.3s;
}

ul li a.active {
    color: var(--highlight-color);
}
ul li a:hover {
    color: var(--hover-color);
}

#toggle-tema{
    margin-left: 1vw;
}

/* MAIN */
main{
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    min-height: 92vh;
    width: 55vw;
    max-width: 1640px;
    padding: 2vh;
    scroll-margin-top: 8vh; 
    color: var(--text-color);
    font-size: 1.5rem;
    font-size: 2vh;
    
    transition: all 0.3s;
    display: flex;
}

section#experiencia{
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh;
}

section#educacion{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 2vh;
}
section#proyectos{
    min-height: 84vh;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 2vh;
}

h1{
    color: var( --title-color);
    padding: 2vh 0 0 0;
    font-size: 2rem;
    font-size: 2.5vh;
    width: 100%;
}
h2,h3{
    text-align: left;
}
h3{
    color: rgb(151, 151, 151);
    font-size: 1.75vh;
}
p{
    color: var(--secondary-text-color);
}
span{
    color: var(--highlight-color);
}


/* SECCION INICIO */
#titulo {
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8vw;
    align-content: center;
}

#titulo > img {
    aspect-ratio: 1/1;
    margin-top: 10%;

    width: 22%;
    width: 15vh;
    border-radius: 100%;
    box-shadow: 0 0 1rem rgba(39, 39, 39, 0.1);
}

#titulo > div > div > h1 {
    font-size: 4rem;
    font-size: 5.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}



.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title > div > h1 {
    color: #FFFFFF;
}

#titulo > div:last-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    margin-top: 3%;
}

#btnDown {
    margin-top: 15vh;
}

/* CARD PARA TECNOLOGIAS */
.tecnologias {
    width: 49%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2vh;
}

.tecnologias > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
}

.card-tech {
    height: 3.5vh;
    background-color: rgb(30, 29, 28);
    border: 0.1rem solid rgb(39, 39, 39);
    color: white;
    font-size: 2vh;
    padding: 1.5vh 0.5vw;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
}

.card-tech svg {
    height: 2vh;
}

/* CARD GENERAL (BASE EXPERIENCIA) */
.card {
    height: 23.5vh;
    padding: 0 3vw;
    font-size: 2vh;
    background-color: var(--card-bg-color);
    color: var(--text-color);
    border: 0.1rem solid var(--card-border-color);
    border-radius: 1rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    text-align: center;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
}

.card img {
    height: 9vh;
}

.card > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.card > div > div {
    margin: 0 2vw;
}

.card > div:last-child {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

/* SECCION EDUCACION */
.card.education {
    height: 29vh;
    width: 48%;
}

.card.education > div {
    flex-direction: column;
    align-items: flex-start;
}

.card.education > div:nth-child(2) {
    min-height: 50%;
}

.card.education > div > h2 {
    font-size: 1.8rem;
    font-size: 2vh;
}

.card > div.skills > div {
    min-width: 12vw;
}

.card > div.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    justify-self: flex-start;
    align-items: flex-start;
}
 
.card > div.skills > div {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section#educacion > .banner {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > article > article > svg {
    width: 6vh;
    height: 6vh;
}

/* PROYECTOS */
#proyectos > article {
    width: 100%;
    height: 32vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card.education.proyectos {
    padding: 0;
    width: 49%;
    height: 100%;
}

.card.education > a {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.card.education > a > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
}
/* FOOTER */

footer{
    width: 100vw;
    font-size: 1.2rem;
    font-size: 1.4vh;
    height: 8vh;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
footer > div:nth-child(2){
    min-width: 10vw;
    display: flex;
    justify-content: center;
}
@media  (min-aspect-ratio: 0.8 / 1) and (max-aspect-ratio: 1.2 / 1){
    body{
        font-size: 2vw;
    }
    section {
        width: 100vw;
    }
}
@media (min-width: 900px) and (max-width: 1340px) {
    body{
        font-size: 2vw;
    }
    section {
        width: 100vw;
    }
    .sign svg {
        width: 0.1vw;
    }
}
/* Orientación vertical */
@media (orientation: portrait) and (max-width: 899px) {

    body{
        font-size: 2vw;
    }
    main{
        margin-top: 8vh;
    }


    ul li a {
        font-size: 3.7vw;
    }

    section {
        width: 100vw;
        padding: 2vh;
        font-size: 3.8vw;
    }
    h1{
        font-size: 4vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 3.7vw;
    }

    #titulo > div > div > h1{
        font-size: 9vw;
    }
    #titulo{
        padding: 4vw;
    }

    .card {
        padding: 0vh 2vw;
        gap: 1.9vw;
    }

    .card img {
        height: 10vw;
    }

    .card-tech {
        padding: 1.5vw 2.2vw;
        font-size: 3.3vw;
    }

    .card-tech svg {
        height: 4.5vw;
    }

    .card.education {
        width: 100%;
    }
    .card.education > div > h2 {
        font-size: 4.6vw;
    }

    .card.education > div:first-child {
        align-items: center;
    }
    .card > div.skills {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: left;
    }
    .skills{
        font-size: 3.5vw;
    }
    .otros{
        text-align: center;
    }

    .banner > article > article > svg {
        width: 8vw;
        height: 8vw;
    }
    #proyectos > article {
        flex-direction: column;
        height: 50vh;
    }
    .tecnologias{
        padding: 1vh 0;
    }

    .card.education.proyectos {
        width: 100%;
        height: 50%;
    }
    .tecnologias {
        width: 100%;
        height: 50%;
    }
    .sign svg {
        width: 5vw;
    }
    footer{
        font-size: 2.4vw;
    }
}
